{% extends 'layout.html' %}

{% block content %}
<div class="container-fluid">
                <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Tip
            </h1>
            <ol class="breadcrumb">
                <li class="active">
                    <i class="fa fa-dashboard"></i> tip page
                </li>
            </ol>
        </div>
    </div>
    <div class="page-header">
        <h1>유용한 툴들</h1>
    </div>
    <div class="list-group">
        <a href="#" class="list-group-item">1. IDA (decompiler)</a>
        <a href="#" class="list-group-item">2. pwntools (pwnable framework)</a>
        <a href="#" class="list-group-item">3. angr (conconlic execution framework)</a>
    </div>
    <div class="page-header">
        <h1>추천 문제</h1>
    </div>

    <div class="page-header">
        <h1>볼만한 논문</h1>
    </div>

</div>
{% endblock content %}